AI-Powered Urban Climate Resilience Dashboard for Indian Cities

In [6]:


# 1. Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# 3. Load datasets
df1 = pd.read_csv("/content/drive/MyDrive/climate_datasets/daily-rainfall-at-state-level.csv")
df2 = pd.read_csv("/content/drive/MyDrive/climate_datasets/air_pollution_data.csv")
df3 = pd.read_csv("/content/drive/MyDrive/climate_datasets/air-quality-india.csv")



# === DATASET 1 ===
print("=== DATASET 1 INFO ===")
print(df1.info())

print("\n=== DATASET 1 SUMMARY ===")
print(df1.describe())

print("\n=== DATASET 1 MISSING VALUES ===")
print(df1.isnull().sum())

# === DATASET 2 ===
print("\n\n=== DATASET 2 INFO ===")
print(df2.info())

print("\n=== DATASET 2 SUMMARY ===")
print(df2.describe())

print("\n=== DATASET 2 MISSING VALUES ===")
print(df2.isnull().sum())

# === DATASET 3 ===
print("\n\n=== DATASET 3 INFO ===")
print(df3.info())

print("\n=== DATASET 3 SUMMARY ===")
print(df3.describe())

print("\n=== DATASET 3 MISSING VALUES ===")
print(df3.isnull().sum())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
=== DATASET 1 INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204876 entries, 0 to 204875
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          204876 non-null  int64
 1   date        204876 non-null  object
 2   state_code  204876 non-null  int64
 3   state_name  204876 non-null  object
 4   actual      187714 non-null  float64
 5   rfs         199011 non-null  float64
 6   normal      193358 non-null  float64
 7   deviation   173855 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 12.5+ MB
None

=== DATASET 1 SUMMARY ===
                  id     state_code         actual            rfs  \
count  204876.000000  204876.000000  187714.000000  199011.000000
mean   102437.500000      19.166667       3.990693       9.643683
std     59142.751213      11.171668       9.512507      27.504865
min         0.000000       1.000000       0.000000       0.000000
25%     51218.750000       9.750000       0.000000       0.000000
50%    102437.500000      18.500000       0.150000       0.063856
75%    153656.250000      29.250000       3.890000       5.685068
max    204875.000000      38.000000     283.000000     658.765073

              normal      deviation
count  193358.000000  173855.000000
mean        4.654058      38.516222
std         7.369770    1367.744520
min         0.000000    -100.000000
25%         0.420000    -100.000000
50%         1.870000     -89.060000
75%         6.760000      -9.045000
max        97.680000  362300.000000

=== DATASET 1 MISSING VALUES ===
id                0
date              0
state_code        0
state_name        0
actual        17162
rfs            5865
normal        11518
deviation     31021
dtype: int64


=== DATASET 2 INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23504 entries, 0 to 23503
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    23504 non-null  object
 1   date    23504 non-null  object
 2   aqi     23504 non-null  int64
 3   co      23504 non-null  float64
 4   no      23504 non-null  float64
 5   no2     23504 non-null  float64
 6   o3      23504 non-null  float64
 7   so2     23504 non-null  float64
 8   pm2_5   23504 non-null  float64
 9   pm10    23504 non-null  float64
 10  nh3     23504 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 2.0+ MB
None

=== DATASET 2 SUMMARY ===
                aqi            co           no           no2            o3  \
count  23504.000000  23504.000000  23504.00000  23504.000000  23504.000000
mean       3.920354   1113.224543      6.00554     25.044104     35.059777
std        1.415490   1401.770372     24.50272     25.839242     31.901760
min        1.000000    173.570000      0.00000      0.310000      0.000000
25%        3.000000    447.270000      0.00000      8.740000      7.870000
50%        5.000000    700.950000      0.00000     16.450000     28.250000
75%        5.000000   1188.280000      0.27000     32.220000     54.360000
max        5.000000  23071.290000    457.76000    331.760000    406.270000

                so2         pm2_5          pm10           nh3
count  23504.000000  23504.000000  23504.000000  23504.000000
mean      15.971449     98.598310    121.848091     12.060212
std       23.943464    135.572391    160.429589     17.544759
min        0.190000      0.500000      0.580000      0.000000
25%        4.470000     24.677500     32.277500      2.340000
50%        7.990000     58.860000     75.775000      6.520000
75%       16.450000    117.605000    147.642500     15.830000
max      442.510000   2203.550000   2429.130000    352.620000

=== DATASET 2 MISSING VALUES ===
city     0
date     0
aqi      0
co       0
no       0
no2      0
o3       0
so2      0
pm2_5    0
pm10     0
nh3      0
dtype: int64


=== DATASET 3 INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36192 entries, 0 to 36191
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  36192 non-null  object
 1   Year       36192 non-null  int64
 2   Month      36192 non-null  int64
 3   Day        36192 non-null  int64
 4   Hour       36192 non-null  int64
 5   PM2.5      36192 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.7+ MB
None

=== DATASET 3 SUMMARY ===
               Year         Month           Day          Hour         PM2.5
count  36192.000000  36192.000000  36192.000000  36192.000000  36192.000000
mean    2019.682278      6.331841     15.716401     11.477840     49.308429
std        1.345011      3.593321      8.859769      6.925088     24.863511
min     2017.000000      1.000000      1.000000      0.000000      7.020000
25%     2019.000000      3.000000      8.000000      5.000000     28.080000
50%     2020.000000      6.000000     16.000000     11.000000     45.730000
75%     2021.000000     10.000000     23.000000     17.000000     64.520000
max     2022.000000     12.000000     31.000000     23.000000    245.630000

=== DATASET 3 MISSING VALUES ===
Timestamp    0
Year         0
Month        0
Day          0
Hour         0
PM2.5        0
dtype: int64